@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #332c50;
  --foreground: #171717;
  --appGreen: #94e344;
  --appAquamarine: #46878f;
  --appLightGreen: #e2f3e4;
  --appPurple: #332c50;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dot-pulse {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--appLightGreen);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: '';
  position: absolute;
  top: 0;
}
.dot-pulse::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--appLightGreen);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--appLightGreen);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulse {
  0% {
    transform: scale(0);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.7;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--appPurple);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background-color: var(--appPurple);
  color: var(--appLightGreen);
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  max-width: 800px;
  width: 98%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

.modal-content {
  margin-top: 1.5rem;
}

@layer components {
  .message-bot {
    border-left: 4px solid;
    border-color: var(--appLightGreen);
    color: var(--appGreen);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 16px;
    border-radius: 8px;
  }
  .message-bot-loading {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 16px;
    border-radius: 8px;
  }

  .message-user {
    border-color: var(--appLightGreen);
    color: var(--appLightGreen);
    background-color: var(--appAquamarine);
  }

  audio::-webkit-media-controls-panel {
    background-color: var(--appAquamarine);
  }

  audio::-webkit-media-controls-volume-slider {
    background-color: var(--appAquamarine);
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .countdown-timer {
    font-size: 1rem;
    font-weight: bold;
    color: var(--appLightGreen);
  }

  .test-item {
    @apply w-11/12 border border-black h-20 rounded;
    color: var(--appLightGreen);
    background-color: rgba(10, 10, 10, 0.85);
  }

  .highlight {
    background-color: rgba(10, 10, 10, 0.2);
  }

  .info-border {
    border-radius: 0 4px 4px 0;
  }
}
